version: "3.9"

services:
  unchained:
    image: cjgutz/unchained:main
    container_name: "unchained"
    restart: unless-stopped
  psych-game:
    image: cjgutz/psych_game:latest
    container_name: "psych_game"
    restart: unless-stopped
    env_file:
      - .game-env
    depends_on:
      - psych-game-db
  psych-game-db:
    image: postgres:12.20-alpine3.20
    container_name: "psych_game_db"
    restart: unless-stopped
    env_file:
      - .game-env
    volumes:
      - psych-game-db-data:/var/lib/postgresql/data
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: "vaultwarden"
    volumes:
      - vaultwarden-data:/data
    env_file:
      - .env
    environment:
      DOMAIN: "${VAULT_DOMAIN}"
      ADMIN_TOKEN: "${ADMIN_TOKEN}"
      SIGNUPS_ALLOWED: "false"
  cronjobs:
    build:
      context: .
      dockerfile: ./cron/Dockerfile
    container_name: cronjobs
    volumes:
      - vaultwarden-data:/app/vaultwarden-data:ro
    env_file:
      - .env
    depends_on:
      - vaultwarden
  nginx_certbot:
    image: jonasal/nginx-certbot:latest
    restart: unless-stopped
    container_name: nginx_certbot
    env_file:
      - .env
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx_secrets:/etc/letsencrypt
      - ./nginx_servers:/etc/nginx/user_conf.d

volumes:
  psych-game-db-data:
    driver: local
  vaultwarden-data:
    driver: local
